.background__header{
    background-color: #2a1e7a; 
    height: 200px;
}
.background__body{
    background-color: #f5f6fc;
    height: 680px
}
.container-fluid{
    position:relative;
    margin-top: -850px;
}
.card-header{
    height: 65px;
}
.card-body{
    background-color:#e9ebef;
    margin-left: 22px;
    margin-right: 22px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.input-value{
    height: 30px;
    border-radius: 3px;
    background-color: white;
    border-width: medium;
}
.form-select{
    margin-top: 10px;
    height: 600px;
}
.input-ghosting{
    height: 30px;
    border-radius: 5px;
    border-width: thin;
}
.button{
    height: 30px;
    border-radius: 3px;
}
.form-select__input{
    height: 30px;
    background-color:#f5f6fc;
    border-width: thin;
}
.form-select__select{
    height: 30px;
}
.table td{
    background-color: #f5f6fc;
}
.card-body_two{
    overflow-y: scroll;
    height: 500px;
    margin-left: 22px;
    margin-right: 22px;
}
body{
    color: #2a1e7a;
}
.input-textbox{
    background-color: #e9ebef;
    height: 30px;
    border-radius: 3px;
}